@media screen and (min-width: 768px) and (max-width: 991px){
    .col-lg-4{
        display: flex;
        align-items: center;
    }
    
}

.col-lg-4{
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: blueviolet; */
    width: 350px;
    
}

.col-lg-4 Forum{
    padding-left: 20px;
}

.col-sm-8{
    /* background-color: aqua; */
    /* max-width: 20px; */
}

