/* new stuff added here */
.icon{
    display: inline-flex;
    padding-right: 110px;
}

.newDetails, .currentDetails{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 20px
}

.newDetails:hover, .currentDetails:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.feed {
    text-align: center;
}

/* end of new stuff */

hr.solid{
    border-top: 0.5px solid rgb(204, 204, 204);
    width: 90%;
}

.bigSubDiv{
    display: flex;
    vertical-align: middle;
}

h2{
    position: relative;
    top: 0px;
    padding: 10px;
    vertical-align: middle;
}

.currentDetails{
    /* This is the text on the left */
    /* position: absolute;
    vertical-align: auto;
    margin: auto; */
    /* position: fixed; */
    /* left: 50%; */
    /* position: sticky; */
    /* bottom: 20px; */
    /* transform: translate(-50%, -50%); */
    /* margin-bottom: 0px; */
    /* margin-left: auto; */
    /* margin-top: 0px; */
    /* margin: auto auto 0 auto; */
    margin-top: 20px;
    padding-top: 20px;
}

Button{
    padding-bottom: 20px;
}

.currentDetails div{
    text-align: left;
    text-justify: right;
}

.newDetails{
    
    /* Text entry boxes */
    /* float: none; */
    margin: auto;
    vertical-align: middle;
    width: 90%;
    
}
